html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  background-color: var(--m-3-sys-light-surface, #fffafa);
}

.light-green {
  background-color: #51dea0;
}

#text-field-credentials {
  margin: 15px 0px 15px 0px;
  display: block;
}

#text-field-form {
  margin: 5px 0px 15px 0px;
  display: block;
}

#mini-text {
  font-size: 12px;
  margin-top: 23px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.w100 {
  width: 100%;
}

.mtb-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

#card-description {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}

#margin-top {
  margin-top: 15px;
  margin-bottom: 0px;
}

.z-index-999 {
  z-index: 999;
}

#ducl {
  margin: 15px 0px 15px 0px;
}

.margin-left {
  margin-left: 10px;
}

#form-date-div {
  display: flex;
  gap: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#form-title-text {
  margin-bottom: 0px;
  margin-top: 4px;
}

/* @media all and (max-width:30em){
   #text-field{
    display:block;
    margin:0.2em auto;
    color: red;
    border: 1px red solid;
   }
  } */

.paper-landing {
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

#main-container {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-bottom: 30px;
}

#pe-none {
  pointer-events: none;
}

.tag-chips {
  flex-wrap: nowrap;
  max-width: 512px;
  overflow: scroll;
  padding: 8px;
}

.mt-5 {
  margin-top: 5px;
}

#filter-byDate {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.filter-chip {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 900px) {
  #main-container {
    flex-direction: column;
  }

  #landing-desc-desktop {
    display: none;
  }

  .purple {
    color: red;
    font-size: 10px;
  }
}

.whatsapp-btn {
  background: #51dea0 !important;
}

@media (min-width: 500px) {
  #landing-desc-mobile {
    display: none;
  }

  .banerText {
    font-size: 50px;
  }
}

.banerText {
  font-size: 2.4rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.purple {
  color: #6750a4;
  font-size: 2.4rem;
  font-weight: 800;
  margin: 0;
}

#createNewEvent-btn {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  right: 16px;
}

.zi-99 {
  z-index: 99;
}

#landingPage {
  margin: 0;
  top: 0;
  left: 0;
}

#landing-desc-mobile {
  font-size: 18px;
  text-align: center;
}

#landing-desc-desktop {
  font-size: 18px;
}
#accessPanel {
  width: 369px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login {
  margin-top: 25px;
}

.container {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

.Button {
  background-color: #333333;
}

.text-areabutton:focus {
  color: var(--m-3-sys-light-primary, #6750a4);
  color: white;
}

.elevatedButton {
  border-radius: 10rem;
  color: var(--m-3-sys-light-primary, #1d192b);
  background-color: #f7f2fa;
  border: 1px solid var(--m-3-sys-light-outline, #79747e);
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 320px;
  padding: 16px 0px 16px 0px;
}

.filledButton {
  padding: 16px 0px 16px 0px;
  border-radius: 10rem;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border: 0px;
  max-width: 320px;
}

#logo {
  border: 3px solid #6750a4;
  padding: 5px;
  border-radius: 20%;
  font-size: larger;
  font-weight: bold;
  margin-right: 5px;
}

#button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 0px 16px 0px;
  margin-top: 15px;
  border: 0px;
  width: 300px;
}

button {
  display: inline-flex;
  padding: 1rem 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 70%;
  flex-shrink: 0;
  border-radius: 10rem;

  text-align: center;
  /* M3/label/large */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
}

.MuiTypography-root {
  color: #333333;
  font-weight: bold;
}
.css-13cymwt-control {
  background-color: red;
}

#select-tags {
  background-color: red !important;
}

#form-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #6750a4;
  z-index: 100;
}

#form-tag {
  border: #c8cec4;
}

.testing {
  max-height: min(800px, 100% - 48px);
  max-width: min(560px, 100% - 25px);
}

/* fix this shit  */
.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cf {
  margin-top: 15px;
}

.p-0 {
  padding-bottom: 0;
}

.p-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav-component {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#nav {
  display: flex;
  font-size: 18px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#noEvent-span {
  font-size: 25px;
  font-weight: bolder;
}

#noEvent {
  position: absolute;
  text-align: center;
  width: 300px;
}

#card-btns {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fd-c {
  display: flex;
  flex-direction: column;
}

.fd-r {
  display: flex;
  flex-direction: row;
}

.m-10 {
  margin: 10px;
}
.m-5 {
  margin: 5px;
  margin-left: 5px;
}

.mb-25 {
  margin-bottom: 25px;
}

#span-card-date {
  margin: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: #6750a4;
  top: 0;
  right: 0;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

#error-email-password {
  font-size: 12px;
  color: red;
  text-align: center;
}

#error-span {
  font-size: 13px;
  color: red;
  text-align: center;
}

#landing-image {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

#image-card {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
}

#landing-bannar {
  display: flex;
  background-color: #f6eeff;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#landing-text-bannar {
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-left: 5px;
}

#landing-btn {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  color: #4f378a;
}

#popular-events {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}

.pr {
  position: relative;
  background-color: #F6EEFF;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#card-horzintal-scroll {
  overflow: auto;
  white-space: nowrap;
  padding: 8px;
}

#tags-horzintal {
  margin-left: 5px;
}

#whatsapp-btn{
  border: none; /* Remove borders */
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
  word-wrap: break-word;
  width: auto;
  background-color: #adf1d4;
}

.card-helper-text {
  margin: 5px;
  color: #4a4458;
  font-weight: bold;
}
