html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

.light-green {
  background-color: #51dea0;
}

#text-field-credentials {
  display: block;
  margin-bottom: 10px;
}

#text-field-form {
  margin: 5px 0px 15px 0px;
  display: block;
}

#mini-text {
  font-size: 12px;
  margin-top: 23px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.w100 {
  width: 100%;
}

.mtb-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.mmm{
  background-color: red;
  margin: 20px;
  
}

#card-description {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}

#margin-top {
  margin-top: 15px;
  margin-bottom: 0px;
}

.red{
  background-color: rebeccapurple;
}

.z-index-999 {
  z-index: 999;
}

#ducl {
  margin: 15px 0px 15px 0px;
}



.margin-left {
  margin-left: 10px;
}


#form-date-div {
  display: flex;
  gap: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#form-title-text {
  margin-bottom: 0px;
  margin-top: 4px;
}

/* @media all and (max-width:30em){
   #text-field{
    display:block;
    margin:0.2em auto;
    color: red;
    border: 1px red solid;
   }
  } */

.paper-landing {
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}


#UserAuth-landing-input {
  
  padding: 20px;
  max-width: 800px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

#main-container {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-bottom: 30px;
}

#pe-none {
  pointer-events: none;
}

.tag-chips {
  display: flex;
  
  flex-wrap: nowrap;
  overflow-y: auto; /* Enable vertical scrollbar */
  padding: 8px;
  height: 90px;
  margin-bottom: 20px;
  /* Optionally, you might need to set a max-width or width to the .tag-chips container */
  /* max-width: 100%; */
}

.mt-5 {
  margin-top: 5px;
}

#filter-byDate {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
}

#filter-secondary-span {
  font-weight: bold;
  font-size: smaller;
  color: #332d41;
}
.filter-chip {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 900px) {
  #main-container {
    flex-direction: column;
  }

  

  #landing-desc-desktop {
    display: none;
  }

  .purple {
    color: red;
    font-size: 10px;
  }
}

.whatsapp-btn {
  background: #51dea0 !important;
}

@media (min-width: 500px) {
  #landing-desc-mobile {
    display: none;
  }

  .auth-body{
    height: 100vh;
    
  }

  #app{
    margin-right: 500px;
    margin-left: 500px;
  }


  .banerText {
    font-size: 50px;
  }
}

.banerText {
  font-size: 1.8rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.auth-bannerText {
  font-size: 1.5rem;
  font-weight: 800;
  gap: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.auth-bannerText-purple{
  color: #6750a4;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

#auth-landing-Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

#details-forms{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}




#card-title {
  margin: 0px 10px 0px 10px;
  font-size: 1.25rem;
}

#form-btns-navigation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

#form-title-span {
  color: #333;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 100px;
}

#form-btn-next {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: #4f378a;
  color: white;
  text-align: center;
  padding: 9px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


#form-btn-back {
  border: 0.5px solid;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: white;
  color: #4f378a;
  text-align: center;
  padding: 9px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



.logo-admin {
  font-weight: lighter;
}

.purple {
  color: #6750a4;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
}

#createNewEvent-btn {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  right: 16px;
}

.zi-99 {
  z-index: 99;
}

#landingPage {
  margin: 0;
  top: 0;
  left: 0;
}

#landing-desc-mobile {
  font-size: 18px;
  text-align: center;
}

#landing-desc-desktop {
  font-size: 18px;
}
#accessPanel {
  width: 369px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login {
  margin-top: 25px;
  width: 320px;
  text-align: center;
}



.container {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

.Button {
  background-color: #333333;
}


#form-container-create{

}
.text-areabutton:focus {
  color: var(--m-3-sys-light-primary, #f6eeff);
  color: white;
}

.elevatedButton {
  border-radius: 10rem;
  color: var(--m-3-sys-light-primary, #1d192b);
  background-color: #f7f2fa;
  border: 1px solid var(--m-3-sys-light-outline, #79747e);
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 320px;
  padding: 16px 0px 16px 0px;
}

.filledButton {
  padding: 16px 0px 16px 0px;
  border-radius: 10rem;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  border: 0px;
  max-width: 320px;
}

#logo {
  border: 3px solid #6750a4;
  padding: 5px;
  border-radius: 20%;
  font-weight: bold;
}

#button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 0px 16px 0px;
  margin-top: 15px;
  border: 0px;
  width: 300px;
}

button {
  display: inline-flex;
  padding: 1rem 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 70%;
  flex-shrink: 0;
  border-radius: 10rem;

  text-align: center;
  /* M3/label/large */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
}

.MuiTypography-root {
  color: #333333;
  font-weight: bold;
}

#form-user-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #6750a4;
  z-index: 100;
}

#form-tag {
  border: #c8cec4;
}

.testing {
  max-height: min(800px, 100% - 48px);
  max-width: min(560px, 100% - 25px);
}

/* fix this shit  */
.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cf {
  margin-top: 15px;
}

.p-0 {
  padding-bottom: 0;
}

.p-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav {
  display: flex;
  font-size: 18px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  height: max-content;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#noEvent-span {
  font-size: 25px;
  font-weight: bolder;

}

#noEvent {
  text-align: center;
  width: 300px;
}

#card-btns {
  margin: 0px 5px 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.df-c {
  display: flex;
  flex-direction: column;
}

.auth-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.fd-r {
  display: flex;
  flex-direction: row;
}

.m-10 {
  margin: 10px;
}
.m-5 {
  margin: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mtb-10

#span-card-date {
  margin: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: #6750a4;
  top: 0;
  right: 0;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

#error-email-password {
  font-size: 12px;
  color: red;
  text-align: center;
}

#error-span {
  font-size: 13px;
  color: red;
  text-align: center;
}

#landing-image {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

#card-image {
  border-radius: 20px;
  width: 100%;
  height: 250px;
}

#landing-bannar {
  display: flex;
  background-color: #f6eeff;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#landing-text-bannar {
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

#landing-btn-explore {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: #4f378a;
  color: white;
  width: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#landing-btn-create {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: #4f378a;
  width: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 5px;
}

#landing-btn {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  color: #4f378a;
}

#popular-events {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}

.pr {
  position: relative;
  background-color: #f6eeff;
  border-radius: 20px;

  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#card-horzintal-scroll {
  flex-direction: row;
  margin-top: 1px;
}

#tags-horzintal {
  margin-left: 5px;
  margin-bottom: 5px;
}

#whatsapp-btn {
  border: none; /* Remove borders */
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
  word-wrap: break-word;
  width: auto;
  background-color: #3cbd85;
}

.card-helper-text {
  margin: 3px;
  color: #4a4458;
  font-weight: bold;
}


.form-error-helper-text {
  margin: 0px;
  color: #690005;
  font-weight: bold;
  font-size:small;

}

.signup-helper-text {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #4a4458;
  font-weight: bold;
  text-align: left;
}

.form-helper-text-error {
  color: rgba(206, 68, 68, 0.899);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: center;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0; 
}

#form-helper-text{
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0;
}

#nav-login {
  background-color: transparent;
  border: 1px solid #d0bcff;
  color: #381e72;
  width: 100%;
  padding: 5px 10px 5px 10px;
}

#event-title {
  text-align: left;
  margin-bottom: 20px;
}

#event-body {
  padding: 10px;
  height: 100%;
}

#event-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#event-info-card {
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
  background: var(--m-3-sys-light-surface-container, #f3edf7);
  display: flex;
  padding: 8px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: #49454f;
}

#event-card-btn {
  color: var(--m-3-sys-light-on-primary, #fff);
  background: var(--m-3-sys-light-primary, #6750a4);
  display: flex;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.event-description {
  padding: 8px;
  word-wrap: break-word;
}

#event-info-card-dark {
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
  background: var(--m-3-sys-light-surface-container, #f3edf7);
  display: flex;
  padding: 8px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: #cac4d0;
  font-size: 16px;
  border-radius: 1.2rem;
  background: var(--m-3-sys-dark-surface-container, #211f26);

}

.card-helper-text-dark {
  margin: 3px;
  font-weight: bold;
  color: #cac4d0;
}

#event-attent-card {
  z-index: 999;
  flex-direction: column;
  position: sticky;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  align-items: center;
  margin-left: 0px;
  bottom: 1rem;
  background: var(--m-3-sys-light-surface-container, #f3edf7);
  padding: 10px;
  color: var(--m-3-sys-light-on-surface-variant, #49454f);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#event-card-attend-btn {
  background: var(--m-3-sys-light-primary, #6750a4);
  color: var(--m-3-sys-light-inverse-on-surface, #f5eff7);
  font-weight: bolder;
  font-size: x-large;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 250px;
  display: inline-flex;
  min-height: 2.4rem;
  padding: 0.4rem 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4rem;
}



#suggestion-chip{
  
  height:32px;
  color: #1d1b20;
  background-color: #f7f2fa ;
  box-shadow: #000;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}